<p id="notice"><%= notice %></p>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Brandons Dope App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          <a class = "nav-link" <%= link_to 'Home', projects_path %> </a>
          </li>
        </ul>
      

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
           <% if user_signed_in? %>
             <a class = "nav-link" <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></a> 
             <li>
             <a class = "nav-link" <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></a>
             <li>
           <% else %>
             <a class = "nav-link"<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </a>
             <li>
             <a class = "nav-link" <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> </a>
           <% end %>
         </li>
       </ul>
     </div>
   </nav>

<br>

<main role="main">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Hello!</h1>
         <p>Im Brandon Gary and Im currently a Junior at UCCS studying computer science. Im also in Army ROTC and will be comissoning once I graduate. 
         I love to do anything outdoors, especially climbing and camping. 
         This App allows students to display their projects, create and edit them. This took me a while to look pretty so I hope you appriciate it.</p>
        </div>
    </div>
    
    <hr>
    <div class="d-grid gap-2 col-6 mx-auto">
     <a <button class="btn btn-primary btn-lg" <%= link_to 'View All Projects', "/projects/list" %></a>
     <a <button class="btn btn-primary btn-lg" <%= link_to 'New Project', new_project_path %> </a>
    </div>
    <hr>

    <div class= "row mx-auto">
      <% @projects.each do |project| %>
        <tr>
         <div class="col-md-4">
           <h2> <td><%= project.title %></td> </h2>
           <hr>
           <div class = "jumbotron">
             <div class = "container">
               <td><%= project.description %></td><p></p>
              </div>
            </div>
           <p><a class = "btn btn-secondary"  <%= link_to 'View details', project %> </a></p>
           <a <button type="button" class="btn btn-info btn-sm" <%= link_to 'Edit', edit_project_path(project) %></a> |
           <a <button type="button" class="btn btn-danger btn-sm" <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></a>
          </div>
         </tr>
      <% end %>
    </div>
    <hr>
    
</main>
